<!DOCTYPE html>
<html>
<head>
	<!-- Compiled and minified CSS -->
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
	<div class="row">
		<h3>Join Code:</h3>
		<form action="/join" method="POST" class="col s12">
			<div class="input-field col s12">
				<input placeholder="123456" type="number" name="join_code" id="joincode" class="validate">
				<label for="joincode" data-error="wrong">Lecture Join Code</label>
			</div>
			
		</form>
	</div>
	
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>