#comments-column {
	overflow: scroll;
}
.btn-small {
    padding: 0 0.5rem;
}
.container {
	margin-top: 20px;
	margin-left: 75px;
}
.row {
	margin-bottom: 0;
}
canvas#draw {
	border: solid 1px lightgray;
}