<!DOCTYPE html>
<html>
<head>
    <!-- Compiled and minified CSS -->
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Qollab</title>
</head>
<body>
    <!-- Nav Bar -->
    <center><h3>Welcome to Qollab!</h3></center>
    <div class="fixed-action-btn toolbar">
    <form action = "/create" method = "GET">
    <button class="btn waves-effect waves-light" type = "sbumit" >Create a lecture!</button>
    </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <p><center>Enter Code Below: </center></p>
    <div class="row">
        <div class="input-field col s12">
    <form action = "/join" method = "POST">
    <input placeholder="123456" type="number" name="join_code" class="validate">
    </form>
    </div>
    </div>
</body>
</html>