<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h3>Join Code:</h3>
	<form action="/lecture/join" method="POST">
		<input type="number" name="join_code">
	</form>
	<script src="/js/lecture.js"></script>
</body>
</html>