<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h3>Create Your Lecture:</h3>
	<form action="/create" method="POST">
		<input type="text" name="lecture_name" placeholder="Lecture Name">
	</form>
	{{#if code}}
		<div class="modal" id="codeModal">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Lecture Created!</h4>
				</div>
				<div class="modal-body">
					<p>Your lecture code is:</p>
					<p>{{code}}</p>
					<form action="/join" method="POST">
						<button name="join_code" type="number" value="{{code}}">Join Your Lecture</button>
					</form>
				</div>
			</div>
		</div>
	{{/if}}
	<script src="/js/lecture.js"></script>
</body>
</html>